<div class="mat-body chat-messages-container">
  <ul class="chat-messages" #chatMessagesContainer>
    <li
      *ngFor="let m of messages$ | async"
      [ngClass]="isOwnMessage(m.userId) ? 'own-message' : 'users-message'"
    >
      <span
        class="text"
        [matBadge]="m.userName?.substr(0, 1)"
        matBadgeOverlap="true"
        [matTooltip]="m.userName"
        [matTooltipPosition]="isOwnMessage(m.userId) ? 'left' : 'right'"
        [matBadgePosition]="
          isOwnMessage(m.userId) ? 'above after' : 'above before'
        "
        >{{ m.message }}</span
      >
    </li>
  </ul>
  <div class="message-box">
    <mat-divider></mat-divider>
    <form>
      <mat-form-field>
        <textarea
          matInput
          placeholder="Enter your message"
          rows="3"
          #messageInput
        ></textarea>
      </mat-form-field>
      <button
        mat-fab
        color="primary"
        aria-label="Send"
        (click)="sendMessage(messageInput.value); messageInput.value = ''"
      >
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </div>
</div>
